/* styles.css */

/* Body styles */
body {
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif; /* Default font family */
    padding: 20px;
}

/* Header styles */
h1 {
    color: #444; /* Darker grey text color */}

h2 {
    color: #0062cc; /* Blue header color */
}

/* Calculator description styles */
.calculator-description {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Adequate padding */
    margin-bottom: 20px; /* Spacing between sections */

}


/* Calculator formula styles */
.calculator-formula {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Adequate padding */
    font-style: italic; /* Italicize the text */
    color: #555; /* Dark gray text color */
    margin-bottom: 20px; /* Spacing between sections */
}

.calculator-description:hover,
.calculator-formula:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
    color: #444; /* Darker grey text color */
}


/* Proposal container styles */
.proposal-container h2 {
    color: #444; /*Darker grey text color */    
    margin-bottom: 20px;
}

/* Proposal styles */
.proposal {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s; /* Smooth background color transition */
}

.proposal-description:hover {
    /* Define the styles you want to apply on hover */
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
}


.proposal:hover,
.proposal.hovered {
    background-color: #f0f0f0; /* Light gray background on hover */
}

/* Proposal description styles */
.proposal-description {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Adequate padding */
    margin-bottom: 20px; /* Spacing between sections */
}

/* Styles for future proposal input and label */
.future-proposal-label {
    color: #444; /* Darker grey text color */
    margin-bottom: 10px; /* Spacing between label and input */
}

.future-proposal-input {
    width: 10%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}


/* Input styles within proposal containers */
.proposal input[type="text"] {
    width: calc(100% - 18px); /* Adjust width as needed */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}

.tooltip.proposal5-tooltip {
    position: relative;
    display: inline-block;
    margin-top: 5px; /* Adjust as needed */
}

.tooltip.proposal5-tooltip .info {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.tooltip.proposal5-tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip.proposal5-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip.proposal5-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px; /* Fixed width */
    max-width: 80vw; /* Maximum width to fit within viewport */
    min-height: 100px; /* Set minimum height */
    background-color: #555; /* Background color */
    color: #fff; /* Text color */
    text-align: left; /* Align text to the left */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding around the text */
    white-space: normal; /* Allow text to wrap */
    overflow-wrap: break-word; /* Ensure long words break */
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 0; /* Position to the left */
    margin-right: 20px; /* Add some space from the edge */
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip.estimate-tooltip .tooltiptext {
  left: unset; /* Remove the left positioning */
  right: 0; /* Position to the right */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .info {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: silver;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}


/* Button styles */
.figma-button {
    background-color: #ccc; /* Light grey background for buttons */
    color: #444; /* Darker grey text color for buttons */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth background color transition */
}

.figma-button:hover {
    background-color: #ddd; /* Light gray hover background */
    color: #444; /* Darker grey text color */


}
.result-container {
    display: none; /* Initially hide the results section */
    margin-top: 20px;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
}

.error {
    border: 1px solid red !important;
}


.result-container h2 {
    color: #666; /* Dark gray text color */
}

#results h2 {
    color: #666; /* Dark gray text color */
}

.result-container:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
    border: 1px solid #ccc; /* Light gray border on hover */
}

/* CSS for stats section */
.stats-container {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    margin-top: 20px;
}

.stats-container h2 {
    color: #444; /* Darker grey text color */
    margin-bottom: 10px;
}

.stats-container p {
    color: #666; /* Dark gray text color */
    margin-bottom: 5px;
}

.stats-container p span {
    font-weight: bold;
    color: #333; /* Dark text color */
}
